* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--navbar-height: 80px;
	--primary-color: #ad7116;
	--secondary-color: #b2b0c0;
	--btn-color: #00bcd4;
	--hovered-color: grey;
}

h1 {
	margin: 1rem;
	font-size: xx-large;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
}
.img-class {
	width: 100%;

	border: 1px solid white;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-class img {
	width: 200px;
	object-fit: cover;
	border: 1px solid white;
	border-radius: 0.5rem;
	/* display: block; */
}
