<link rel="stylesheet" href="/src/partials/footer.css" />
<footer>
	<section class="footer-sec">
		<div class="social-class">
			<p class="footer-title">Connect with us</p>
			<div class="social-icons">
				<img src="/src/assets/images/companylogos/x.avif" alt="xlogo" />
				<img
					src="/src/assets/images/companylogos/youtube.avif"
					alt="YouTube logo"
				/>
				<img
					src="/src/assets/images/companylogos/instagram.avif"
					alt="Instagram logo"
				/>
				<img
					src="/src/assets/images/companylogos/facebook.avif"
					alt="Facebook logo"
				/>
				<img
					src="/src/assets/images/companylogos/linkedin.avif"
					alt="LinkedIn logo"
				/>
			</div>
		</div>
		<div class="link-class">
			<div class="card">
				<p class="footer-title">INFORMATION ABOUT</p>
				<ul>
					<li><a href="#">About CMRIT</a></li>
					<li><a href="#">About CMRGI</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Faculty</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
			<div class="card">
				<p class="footer-title">INFORMATION FOR</p>
				<ul>
					<li><a href="#">All Programmes</a></li>
					<li><a href="#">Undergraduate Admissions</a></li>
					<li><a href="#">Postgraduate Admissions</a></li>
					<li><a href="#">Doctoral Programmes</a></li>
					<li><a href="#">E-Learning</a></li>
					<li><a href="#">Campus Hiring</a></li>
					<li><a href="#">News & Events</a></li>
				</ul>
			</div>
			<div class="card">
				<p class="footer-title">QUICK LINKS</p>
				<ul>
					<li><a href="#">Student Council</a></li>
					<li><a href="#">Cultura</a></li>
					<li><a href="#">Scholarships</a></li>
					<li><a href="#">Internship</a></li>
					<li><a href="#">Extra Curricular Activities</a></li>
					<li><a href="#">Alumni</a></li>
					<li><a href="#">Department & Institute level</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>
