* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--navbar-height: 80px;
	--primary-color: #ad7116;
	--secondary-color: #b2b0c0;
	--btn-color: #00bcd4;
	--hovered-color: grey;
}

h1 {
	margin: 1rem;
	font-size: xx-large;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
}

.programmes {
	width: 100%;
	background-color: white;
}
.programmes p {
	text-align: center;
	margin-top: 1rem;
	font-size: xx-large;
}

.info-container {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
.info-box {
	width: 90%;
	background-color: var(--secondary-color);
	padding: 0.5rem;

	border: 1px solid var(--secondary-color);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;

	gap: 0.5rem;
	text-align: left;
}

.info-box h2 {
	grid-column: span 2;
	align-self: center;
	justify-self: center;
}

.info-box p {
	text-align: left;
	font-size: large;
	word-wrap: break-word;
}

.info-box p:nth-of-type(2),
.info-box p:nth-of-type(3) {
	font-weight: bold;
	font-size: medium;
}
.btn {
	align-self: center;
}
.btn button {
	padding: 0.4rem 1rem;
	color: white;
	font-size: 1rem;
	text-decoration: none;
	background-color: var(--primary-color);

	border: none;
	border-radius: 0.2rem;
}

.btn button:hover {
	background-color: var(--hovered-color);
}

@media (max-width: 768px) {
}
