* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--navbar-height: 80px;
	--primary-color: #ad7116;
	--secondary-color: #b2b0c0;
	--btn-color: #00bcd4;
	--hovered-color: grey;
}

h1 {
	margin: 1rem;
	font-size: xx-large;
	font-weight: 900;
	text-align: center;
	margin-top: 1rem;
}

.img-class {
	width: 100%;

	border: 1px solid white;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-class img {
	width: 90%;
	object-fit: cover;
	border: 1px solid white;
	border-radius: 0.5rem;
	display: block;
}

.ug {
	width: 100%;
	background-color: white;
}
.ug p {
	text-align: center;
	margin-top: 1rem;
	font-size: xx-large;
}

.info-container {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
.info-box1 {
	width: 90%;
	background-color: var(--secondary-color);
	padding: 1.5rem;

	border: 1px solid var(--secondary-color);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	gap: 1.5rem;
	text-align: left;
}
.info-box1 ul li {
	font-size: large;
	margin: 0.8rem;
}

h2 {
	align-self: center;
	justify-self: center;
}
.info-box2 {
	width: 90%;
	margin: 1rem;
	background-color: var(--secondary-color);
	padding: 1.5rem;
	text-align: left;
	border: 1px solid var(--secondary-color);
	border-radius: 0.8rem;
}
.info-box2 p {
	font-size: large;
	word-wrap: break-word;
}

.info-box3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-content: center;
	text-align: left;
	/* width: 90%; */
	background-color: var(--secondary-color);
	padding: 1.5rem;
	gap: 1.5rem;
	border: 1px solid var(--secondary-color);
	border-radius: 0.8rem;
	margin: 1rem;
}
.info-box3 h2 {
	grid-column: span 3;
	align-self: flex-start;
	justify-self: left;
}
.info-box3 ul:first-of-type {
	grid-column: span 3;
	text-align: left;
	font-size: large;
}

.info-box3 h3:first-of-type {
	grid-column: span 3;
	align-self: flex-start;
	justify-self: left;
	text-align: left;
}
.info-box3 p {
	grid-column: span 3;
	text-align: left;
	font-size: medium;
}

@media (max-width: 768px) {
	/* .info-box3{} */
}
